{% extends "base.html" %}

{% block title %}Show Pets{% endblock %}

{% block content %}
<h2>Add a new pet</h2>
<form id="pet-add-form" method="post" >
    <div class="form-group">
    {{ form.hidden_tag() }} <!-- add type-hidden form fields for validation -->

    {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}

            {% for error in field.errors %}
                {{error}}
            {% endfor %}
        </p>

    {% endfor %}
    
    <a href="/" class="btn btn-outline-info">Cancel</a>
    <button type="submit" class="btn btn-success">Add</button>
</div>
</form>

{% endblock %}